aiohttp
aiohttp-socks
backoff
blinker==1.7.0
easyocr
lxml
nltk
numpy
opencv-python-headless
os-urlpattern
pillow
puncia
pyvirtualdisplay
selenium
selenium-screenshot
selenium-wire
tldextract
tqdm
undetected_chromedriver